BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 94a964ccfbfd

CREATE TABLE transfers (
    id SERIAL NOT NULL, 
    rub_amount NUMERIC(12, 2) NOT NULL, 
    egp_amount NUMERIC(12, 2) NOT NULL, 
    exchange_rate NUMERIC(10, 4) NOT NULL, 
    payment_method VARCHAR(20) NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    receipt_path VARCHAR(255), 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_transfers_id ON transfers (id);

INSERT INTO alembic_version (version_num) VALUES ('94a964ccfbfd') RETURNING alembic_version.version_num;

-- Running upgrade 94a964ccfbfd -> 258cee37eca3

CREATE TABLE transfer_quotes (
    id SERIAL NOT NULL, 
    quote_id VARCHAR(36) NOT NULL, 
    rub_amount NUMERIC(12, 2) NOT NULL, 
    egp_amount NUMERIC(12, 2) NOT NULL, 
    exchange_rate NUMERIC(10, 4) NOT NULL, 
    payment_method VARCHAR(20) NOT NULL, 
    is_used BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    used_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_transfer_quotes_id ON transfer_quotes (id);

CREATE UNIQUE INDEX ix_transfer_quotes_quote_id ON transfer_quotes (quote_id);

ALTER TABLE transfers ADD COLUMN quote_id VARCHAR(36);

ALTER TABLE transfers ALTER COLUMN created_at TYPE TIMESTAMP WITH TIME ZONE;

CREATE UNIQUE INDEX ix_transfers_quote_id ON transfers (quote_id);

UPDATE alembic_version SET version_num='258cee37eca3' WHERE alembic_version.version_num = '94a964ccfbfd';

-- Running upgrade 258cee37eca3 -> 1d6774bf6696

ALTER TABLE transfers ADD COLUMN customer_name VARCHAR(120);

ALTER TABLE transfers ADD COLUMN customer_phone VARCHAR(30);

ALTER TABLE transfers ADD COLUMN telegram_username VARCHAR(64);

ALTER TABLE transfers ADD COLUMN rejection_reason TEXT;

ALTER TABLE transfers ADD COLUMN updated_at TIMESTAMP WITH TIME ZONE;

UPDATE transfers
        SET updated_at = created_at
        WHERE updated_at IS NULL;

ALTER TABLE transfers ALTER COLUMN updated_at SET NOT NULL;

CREATE INDEX ix_transfers_customer_phone ON transfers (customer_phone);

CREATE INDEX ix_transfers_status ON transfers (status);

CREATE INDEX ix_transfers_telegram_username ON transfers (telegram_username);

UPDATE alembic_version SET version_num='1d6774bf6696' WHERE alembic_version.version_num = '258cee37eca3';

-- Running upgrade 1d6774bf6696 -> 820143d6a717

CREATE TABLE russian_recipients (
    id SERIAL NOT NULL, 
    transfer_id INTEGER NOT NULL, 
    recipient_name VARCHAR(150) NOT NULL, 
    recipient_phone VARCHAR(30) NOT NULL, 
    bank_name VARCHAR(100) NOT NULL, 
    card_number VARCHAR(30), 
    account_number VARCHAR(50), 
    sbp_phone VARCHAR(30), 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(transfer_id) REFERENCES transfers (id) ON DELETE CASCADE
);

CREATE INDEX ix_russian_recipients_id ON russian_recipients (id);

CREATE INDEX ix_russian_recipients_recipient_phone ON russian_recipients (recipient_phone);

CREATE UNIQUE INDEX ix_russian_recipients_transfer_id ON russian_recipients (transfer_id);

ALTER TABLE transfers ALTER COLUMN status TYPE VARCHAR(40);

UPDATE transfers
        SET status = CASE status
            WHEN 'pending' THEN 'pending_payment'
            WHEN 'receipt_uploaded' THEN 'payment_proof_uploaded'
            WHEN 'approved' THEN 'waiting_recipient'
            WHEN 'completed' THEN 'completed'
            WHEN 'rejected' THEN 'rejected'
            ELSE status
        END;

UPDATE alembic_version SET version_num='820143d6a717' WHERE alembic_version.version_num = '1d6774bf6696';

COMMIT;

